:root {
  --clr-primary: #fff;
  --ff-primary: 'Mali', cursive;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-600: 3rem;
  --fs-700: 6rem;

  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
}

body {
  font-family: var(--ff-primary);
  background-image: url('/images/8562850_25502.jpg');
  background-size: cover;
}

main {
  display: grid;
  place-content: center;
  min-height: 100vh;
  color: var(--clr-primary);
}

.card {
  width: 475px;
  background: rgba(155, 155, 155, 0.6);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border-radius: 1rem;
}

.card-search {
  justify-content: space-between;
}

.card-search input {
  border: 0;
  border-radius: 100vw;
  font-size: var(--fs-500);
  padding-left: 1.25rem;
}

.card-search input:focus {
  outline: none;
}

.search-btn {
  border: 0;
  border-radius: 50%;
  padding: 1rem;
  background-color: var(--clr-primary);
  cursor: pointer;
}

.search-btn img {
  aspect-ratio: 1;
  width: 1.5rem;
  object-fit: contain;
}

.weather-info-wrapper {
  display: grid;
  place-items: center;
  padding-top: 1.5rem;
}

.temperature {
  font-size: var(--fs-700);
  font-weight: var(--fw-700);
  line-height: 1;
  cursor: pointer;
}

.city {
  font-size: var(--fs-600);
  line-height: 1;
  margin-block: 2rem 1rem;
}

.details {
  justify-content: space-between;
  padding-inline: 1rem;
}

.details img {
  aspect-ratio: 1;
  object-fit: contain;
  width: 3.5rem;
}

.details p {
  font-size: var(--fs-500);
}

.details h3 {
  margin-block: 1rem;
  font-size: var(--fs-500);
}

.air-info {
  font-size: var(--fs-500);
}

.humidity-wrapper,
.wind-wrapper {
  text-align: center;
}

.wind,
.humidity {
  align-items: center;
  gap: 1.5rem;
}

.flex {
  display: flex;
}
